/*Importing the fonts*/
@font-face {
  font-family: midWebsiteFont;
  src: url(fonts/pageFont.ttf);
}
@font-face {
  font-family: topWebsiteFont;
  src: url(fonts/topWebsiteFont.woff2);
}

.middleOfWebsite {
  text-align: center;
  font-size: 80px;
  font-family: midWebsiteFont;
  padding-top: 90px;
  padding-bottom: 30px;
}