@font-face {
  font-family: midWebsiteFont;
  src: url(fonts/pageFont.ttf);
}
@font-face {
  font-family: topWebsiteFont;
  src: url(fonts/topWebsiteFont.woff2);
}

.sliderimg{
  width: 30%;
  height: 30%;
  object-fit: cover
}
.topSectionOfWebsite{
  background-color: bisque;
  font-family: topWebsiteFont;
  font-size: large;
  padding-top: 40px;
  padding-bottom: 40px;
}
.boldText {
  font-weight: bolder;
  font-size: 20px;
}

.middleOfWebsite {
  text-align: center;
  font-size: 80px;
  font-family: midWebsiteFont;
  padding-top: 90px;
  padding-bottom: 30px;
}

.cardStyle {
  width: 150px;
}